
# BEGIN WordPress
# Direktive (redovi) između "BEGIN WordPress" i "END WordPress" su dinamički
# napravljene i trebalo bi da budu izmenjene samo preko Vordpresovih filtera.
# Svaka izmena direktiva između ovih označivača biće prepisana.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /velora/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /velora/index.php [L]
</IfModule>

# END WordPress