.subscribe {
    padding: 20px 0 40px;

    @include mq($md + 1, min) {
        padding: 40px 0 80px;
    }
}

.subscribe__container {
    background-color: $snow;
    border-radius: 4px;
    overflow: hidden;
    
    @include mq($md + 1, min) {
        display: flex;
        flex-wrap: wrap;
    }
}

.subscribe__col {
    @include mq($md + 1, min) {
        flex: 0 0 50%;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.subscribe__img-wrap {
    position: relative;
    padding-bottom: 50%;
    height: 100%;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
        object-position: center;
    }

    @include mq($md + 1, min) {
        padding-bottom: 70%;
    }
}

.subscribe__content {
    padding: 30px 15px;

    @include mq($md + 1, min) {
        padding: 30px 40px;
    }

    @include mq($xl + 1, min) {
        padding: 40px 60px;
    }
}

.subscribe__form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    @include mq($lg) {				
        flex-direction: column;
        align-items: flex-end;
    }

    @include mq($md) {
        flex-direction: row;
        align-items: flex-start;
    }

    @include mq($sm) {
        flex-direction: column;
        align-items: flex-end;
    }    
}

.subscribe__form-field {
    flex: 1;
    width: 100%;
    padding-right: 10px;

    @include mq($lg) {				
        padding-right: 0;
    }

    @include mq($md) {
        padding-right: 10px;
    }

    @include mq($sm) {
        padding-right: 0;
    }  
}

.subscribe__form-input[type=email] {
    margin-bottom: 0;
    padding: 14px 20px;
    border-radius: 40px;
}

.subscribe__form-button {
    @include mq($lg) {				
        width: 100%;
        margin-top: 10px;
    }

    @include mq($md) {
        width: auto;
        margin-top: 0;
    }

    @include mq($sm) {
        width: 100%;
        margin-top: 10px;
    }   
}