.products-slider {
    padding: 80px 0 80px 80px;
    margin-left: auto;
    max-width: calc(50% + 845px);
    position: relative;

    // @include mq($xxxl) {
    //     margin-left: auto;
    // }

    @include mq($xl) {
        padding: 40px 0 40px 25px;
    }

    // @include mq($md) {
    //     padding: 20px 0 20px 15px;
    // }
}

.products-slider__wrapper {
    margin-bottom: 60px;

    @include mq($md) {
        margin-bottom: 30px;
    }
}

.product-slider__nav-container {
    position: absolute;
    top: calc(50% - 65px); // height of product info
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    max-width: 1680px;
    padding: 0 80px;
    left: 0;

    @include mq($xl) {
        padding: 0 25px;
    }

    @include mq($md) {
        padding: 0 15px;
    }
}

.product-slider__nav {
    width: 60px;
    height: 60px;
    background-color: $white;
    color: $black;
    border-radius: 50%;
    transition: $dur $ease;
    transform: scale(1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    will-change: transform;
    backface-visibility: hidden;
    box-shadow: 0 2px 8px rgba($black, 0.2);

    @include hover {
        transform: scale(1.1);
    }

    &.swiper-button-disabled {
        opacity: 0;
        visibility: hidden;
    }

    @include mq($xl) {
        width: 50px;
        height: 50px;
    }

    @include mq($md) {
        width: 40px;
        height: 40px;
    }
}

.product-slider__nav-prev {
    margin-left: -30px;

    @include mq($xl) {
        margin-left: -25px;
    }

    @include mq($md) {
        margin-left: -15px;
    }
}

.product-slider__nav-next {
    margin-right: -30px;

    @include mq($xl) {
        margin-right: -25px;
    }

    @include mq($md) {
        margin-right: 0;
    }
}