/*--------------------------------------------------------------
## Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: 'Inter 18pt';
    src: url('assets/fonts/Inter18pt-Regular.woff2') format('woff2'),
        url('assets/fonts/Inter18pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('assets/fonts/Inter18pt-SemiBold.woff2') format('woff2'),
        url('assets/fonts/Inter18pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('assets/fonts/Inter18pt-ExtraBold.woff2') format('woff2'),
        url('assets/fonts/Inter18pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
