/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
a {
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		outline: 0;
	}
}

.site-header__navigation-toggle {
	position: relative;
	z-index: 1;
	width: 24px;
  	height: 20px;
	border: none;
	background-color: transparent;
	display: block;
	padding: 0;

	@include mq($lg + 1, min) {
		display: none;
	}
}

.site-header__navigation-toggle-stripe {
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: $black;
	transition: transform $dur $ease;
	will-change: transform;
	transform-origin: left;

	&:nth-child(1) {
		top: 0;
	}

	&:nth-child(2) {
		top: 50%;
		transform: translateY(-50%);
	}

	&:nth-child(3) {
		top: 100%;
		margin-top: -3px;
	}

	.is-sticky & {
		background-color: $black;
	}

	.is-active-header & {
		background-color: $white;

		&:nth-child(1) {
			transform: rotate(45deg);
		}

		&:nth-child(2) {
			display: none;
		}

		&:nth-child(3) {
			transform: rotate(-45deg);
		}
	}
}

.main-navigation__menu-wrap {
	@include mq($lg) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $black;
		opacity: 0;
		visibility: hidden;
		transition: transform $dur $ease, opacity $dur $dur $ease, visibility $dur $dur $ease;
		transform: translateX(-100%);
		will-change: transform;
		padding-top: 75px;
		overflow: auto;

		&.is-active {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
			transition: transform $dur $ease, opacity $dur $ease, visibility $dur $ease;
		}
	}
}

.main-navigation__menu-wrap-inner {
	@include mq($lg) {
		overflow: auto;
		width: 100%;
		height: 100%;
		padding: 30px 20px 50px;
	}
}

.main-navigation__menu {
	text-align: center;

	@include mq($lg + 1, min) {
		display: flex;
		align-items: center;
		text-align: left;
	}
}

.main-navigation__menu li {
	margin-bottom: 10px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	@include hover {
		.sub-menu {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}

	@include mq($lg + 1, min) {
		padding-right: 20px;
		justify-content: flex-start;
		margin-bottom: 0;

		&:last-of-type {
			padding-right: 0;
		}
	}

	@include mq($xxl + 1, min) {
		padding-right: 30px;
	}
}

.main-navigation__menu > li {
	@include mq($lg) {
		border-bottom: 1px solid rgba($white, 0.3);
		padding-bottom: 5px;
	}
}

.main-navigation__menu a {
	font-family: $font-main;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	padding: 7px 0;
	line-height: 1.4;
	color: $black;
	transition: color $dur $ease;
	position: relative;
	display: inline-block;

	/* Add an underline animation to the navigation links */
	&:not(.has-submenu)::after {
		content: '';
		transform: scaleX(0);
		transform-origin: left;
		will-change: transform;
		display: block;
		height: 1px;
		background-color: $black;
		transition: transform $dur*1.3 $ease;
		width: 100%;
		position: absolute;
		bottom: 4px;
		left: 0;
	}

	@include hover {
		&::after {
			transform: scaleX(1);
		}
	}

	@include mq($xxl) {
		font-size: 13px;
	}

	@include mq($xl) {
		font-size: 12px;
	}

	@include mq($lg) {
		color: $white;
		font-size: 13px;

		&::after {
			background-color: $white;
		}
	}
}

.main-navigation__menu li.current-menu-item a {
	&::after {
		transform: scaleX(1);
	}
}

.sub-menu {
	display: none;
	flex: 1 0 100%;

	@include mq($lg + 1, min) {
		display: block;
		position: absolute;
		left: 0;
		top: 100%;
		background-color: $white;
		padding: 15px 20px;
		width: max-content;
		border-radius: 4px;
		opacity: 0;
		visibility: hidden;
		transform: translateY(30px);
		transition: $dur $ease;
		will-change: transform;
		backface-visibility: hidden;
	}
}

.submenu-icon {
	font-size: 11px;
	margin-left: 6px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	&::before {
		line-height: 1;
	}

	@include mq($lg) {
		margin-right: -20px;
		margin-left: 0;
		width: 40px;
		height: 40px;
		color: $white;
	}
}