/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header {
	padding: 20px 0;
	position: fixed;
	z-index: 999;
	width: 100%;
	top: 0;
	border-bottom: 1px solid transparent;
	transition: $dur $ease;
	background-color: $white;

	&.is-sticky {
		border-color: rgba($black, 0.1);
	}
}

.site-header__clear {
	background-color: transparent;

	.site-header__logo-img {
		fill: $white;
	}

	.main-navigation__menu a {
		color: $white;

		&::after {
			background-color: $white;
		}
	}

	&.is-sticky {
		background-color: $white;

		.site-header__logo-img {
			fill: $black;
		}

		.main-navigation__menu a {
			color: $black;

			&::after {
				background-color: $black;
			}
		}
	}
}

.site-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-header__branding {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.site-header__logo-img {
	display: block;
	max-width: 130px;
	width: 100%;
	position: relative;
	fill: $black;
	transition: $dur $ease;

	@include mq($lg + 1, min) {
		max-width: 150px;
	}
}

.site-header__actions-link {
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: $white;
	background-color: $white-smoke;
	border: none;
	position: relative;
	transition: $dur $ease;

	.icon {
		display: inline-flex;
		color: $black;
	}

	@include mq($lg) {
		height: 35px;
		width: 35px;
	}
}

.site-header__actions-link-sup {
	position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    right: -14px;
    background-color: $black;
	font-weight: bold;
    border-radius: 50%;
    color: $white;
	display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    white-space: nowrap;
	pointer-events: none;
}