.products-list {
    padding-bottom: 40px;

    @include mq($md + 1, min) {
        padding-bottom: 60px;
    }
}

.products-list__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -5px;

    @include mq($md + 1, min) {
        margin: 0 -10px;
    }
}

.products-list__aside {
    @include mq($md + 1, min) {
        flex: 0 0 20%;
        max-width: 20%;
        padding: 0 10px;
    }
}

.products-list__main {
    @include mq($md + 1, min) {
        flex: 0 0 80%;
        max-width: 80%;
        padding: 0 10px;
    }
}

.products-list__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .woocommerce-notices-wrapper {
        flex: 1 0 100%;
        margin-bottom: 10px;
    }
}

.products-list__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;

    @include mq($lg + 1, min) {
        margin: 0 -10px;
    }
}

.products-list__item {
    margin-bottom: 30px;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 5px;

    @include mq($md + 1, min) {
        flex: 0 0 25%;
        max-width: 25%;
    }

    @include mq($lg + 1, min) {
        padding: 0 10px;
    }
}

// product-item
.product-item__wrap {
    margin-bottom: 20px;
    position: relative;
}

.product-item__img-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 145%;
    border-radius: 4px;
    display: block;

    .product-item__hover-img {
        opacity: 0;
    }

    @include hover {
        &:not(.product-item__no-hover-anim) img:not(.product-item__hover-img) {
            opacity: 0;
        }
    
        .product-item__hover-img {
            opacity: 1;
        }
    }
}

.product-item__img-wrapper img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s ease-in-out;
    object-fit: cover;
    opacity: 1;
}

.product-item__hover-img {
    opacity: 0;
}

.product-item__img-wrapper .onsale {
    position: absolute;
    top: -30px;
    right: -40px;
    width: 110px;
    font-size: 11px;
    padding: 5px 12px;
    transform: rotate(45deg);
    transform-origin: left bottom;
    background-color: $orange;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 800;
    z-index: 1;
}

.product-item__actions .button {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 350px;
    width: calc(100% - 30px);
    background: $white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 800;
    transition: $dur $ease;

    @include hover {
        background-color: $black;
        color: $white;
    }
}

.product-item__actions .button::before {
	content: '';
	background-color: $black;
	z-index: 1;
	display: block;
	height: calc(100% + 4px);
    width: calc(100% + 4px);
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 4px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.product-item__actions .button::after {
	content: '';
	border: 4px solid $white;
	border-radius: 50%;
	border-top: 4px solid $black;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: 0;
	visibility: hidden;
	z-index: 2;
	pointer-events: none;
}

.product-item__actions .button.loading {
	opacity: 0.9;
  	cursor: not-allowed;
}

.product-item__actions .button.loading::before,
.product-item__actions .button.loading::after {
	opacity: 1;
	visibility: visible;
}

.product-item__actions .added_to_cart {
	display: none;
}

.product-item__info h2 {
    @include clamp-font-size(14, 16);
    line-height: 1.5;
    margin-bottom: 8px;
    font-weight: 800;
}

.product-item__price {
    .product-item__price span,
    .product-item__price bdi {
        color: $black;
        font-weight: 400;
        font-size: 16px;
    }
}

// filter
.filter {
    border-radius: 4px;
    overflow: hidden;

    @include mq($md) {
        margin-bottom: 20px;
    }
}

.filter__title {
    @include clamp-font-size(14, 18);
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 800;
}

.filter__item {
    border-bottom: 1px solid $white;

    a {
        padding: 18px 20px;
        text-transform: uppercase;
        @include clamp-font-size(14, 16);
        background-color: $white-smoke;
        transition: $dur $ease;
        display: block;

        @include hover {
            background-color: $light-slate-blue;
            color: $white;
        }
    }
}

.filter__item-active a {
    background-color: $light-slate-blue;
    color: $white;
}

.filter__item-soon {
    opacity: 0.5;
    pointer-events: none;
}

.filter__item-link--icon {
    display: flex;
    align-items: center;
}

.filter__item-link--icon .icon {
    display: inline-flex;
    margin-right: 7px;
    font-size: 13px;
}

// .woocommerce-Price-amount {
    
// }