.variations__form {
    margin-bottom: 30px;
}

.variations__section {
    margin-bottom: 20px;
}

.variable-items-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.variable-item-span {
    border-radius: 50%;
    cursor: pointer;
    background-color: $white;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    min-width: 45px;
    border: 1px solid rgba($black, 0.08);
    
    @include hover {
        border-color: $black;
    }

    .selected & {
        border: 2px solid $black;
    }

    // &.disabled {
    //     text-decoration: line-through;
    //     color: $snow;
    //     cursor: not-allowed;
    //     background-color: $white-smoke;
    //     pointer-events: none;
    // }
}

.woo-selected-variation-item-name {
    display: none;
}

.variations__label {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 0;
}