.variations__form {
    margin-bottom: 30px;
}

.variations__wrap {
    margin-bottom: 20px;
}

.variations__section {
    display: flex;
    flex-wrap: wrap;
}

.variations__item {
    border-radius: 50%;
    cursor: pointer;
    background-color: $white;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    min-width: 45px;
    border: 1px solid rgba($black, 0.08);
    text-transform: uppercase;
    
    @include hover {
        border-color: $black;
    }

    &.selected {
        border: 2px solid $black;
    }

    &.disabled {
        text-decoration: line-through;
        color: $snow;
        cursor: not-allowed;
        background-color: $white-smoke;
        pointer-events: none;
    }
}

.variations__hidden {
    display: none;
}

.variations__label {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 0;
}