/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
.btn,
.button {
	@include clamp-font-size(12, 15);
	font-family: $font-main;
	background-color: $black;
	color: $white;
	padding: 15px 20px;
	transition: $dur $ease;
	font-weight: 600;
	text-transform: uppercase;
	min-width: 180px;
	text-align: center;
	display: inline-block;
	border: 2px solid $black;

	@include hover {
		background-color: rgba($white, 0.85);
		color: $black;
	}

	@include mq($md) {
		min-width: 150px;
		padding: 11px 14px;
	}

	@include mq($sm) {
		min-width: 120px;
	}
}

.btn--white {
	background-color: $white;
	color: $black;
	border: 2px solid $white;

	@include hover {
		background-color: rgba($black, 0.85);
		color: $white;
	}
}

.btn--blue {
	background-color: $blue;
	color: $white;

	@include hover {
		background-color: $blue-light;
	}
}